# Default values for helm-chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: "{{ IMAGE_REPOSITORY }}"
  # Overrides the image tag whose default is the chart appVersion.
  tag: "{{ IMAGE_TAG }}"

env:
  TELEGRAM_BOT_TOKEN: "{{ TELEGRAM_BOT_TOKEN }}"
  OPENAI_API_KEY: "{{ OPENAI_API_KEY }}"
  LOGS_DIR: /var/log
  CONSOLE_JSON_LOGS: true
